@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 300;
    src: local('font/SPD_TheSans_TT3_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: italic;
    font-weight: 300;
    src: local('font/SPD_TheSans_TT3i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 500;
    src: local('font/SPD_TheSans_TT5_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: italic;
    font-weight: 500;
    src: local('font/SPD_TheSans_TT5i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 700;
    src: local('font/SPD_TheSans_TT7_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: italic;
    font-weight: 700;
    src: local('font/SPD_TheSans_TT7i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans';
    font-style: normal;
    font-weight: 800;
    src: local('font/SPD_TheSans_TT8_.ttf') format("truetype");
    font-display: swap;
}

/* VERSAL */

@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 300;
    src: local('font\SPD_TheSans_V_TT3_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: italic;
    font-weight: 300;
    src: local('font\SPD_TheSans_V_TT3i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 500;
    src: local('font\SPD_TheSans_V_TT5_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: italic;
    font-weight: 500;
    src: local('font\SPD_TheSans_V_TT5i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 700;
    src: local('font/SPD_TheSans_V_TT7_.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: italic;
    font-weight: 700;
    src: local('font/SPD_TheSans_V_TT7i.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SPD TheSans Versal';
    font-style: normal;
    font-weight: 800;
    src: local('font/SPD_TheSans_V_TT8_.ttf') format("truetype");
    font-display: swap;
}
:root {
    --spd-red: rgb(227, 0, 15);

    --cover-img: local('imgs\janCover.jpg');
}
* {
    margin: 0px;
    padding: 0px;

    /* border: 1px solid black; */
    border-radius: 2px;

    font-family: 'SPD TheSans Versal', monospace;

    list-style: none;
    transition: ease 0.5s;
}
#placeholder-top {
    height: 8vh;
}
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 10;
}
#menu-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}
.spd-logo {
    height: 5vh;
    padding: 2vh 1vw 2vh 2vw;

    background-color: #fbfbfb2a;
    background-color: var(--spd-red);
}
.red {
    display: none;
}
.spd-logo:hover{
    cursor: pointer;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    padding: 1vh 2vw 1vh 1vw;
    height: 100%;

    /* background-color: #fbfbfb2a; */
    /* background-color: var(--spd-red); */
    /* border: 1px solid var(--spd-red); */
}
ul {
    display: inherit;
    justify-content: space-between;

    width: 30vw;

    font-weight: 700;
    /* color: var(--spd-red); */
    color: black;
    font-size: 3vh;
    /* font-variant: small-caps; */
    text-transform: capitalize;
    /* text-shadow: 1px 1px red; */

    margin-left: 2vw;
}
li {
    /* border-left: 1px solid var(--spd-red); */
}
li:hover {
    color: black;
    cursor: pointer;
}
body {
    position:absolute;
    background-color: lightgray;
}
#cover-img {
    position: relative;
    top: -18vh;

    width: 100%;
}
.fade-in {
    opacity: 0;
}
.background {
    max-width: 100%;
    background-color: lightgray;

    position: relative;
    top: -35vh;

    padding: 3vh 20vw;
    /* border: 5px solid red; */
}
.classic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 2px 2px 5px darkgray;

    padding: 5vh;
}
.inside-img {
    height: 50vh;
}
#hello {
    /* margin: 1vh 10vw; */
}